<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span>My First App</span> -->
    <a href="#" mat-button [routerLink]="[ '/welcome']" routerLinkActive="active">Home</a>
    <a href="#" mat-button [routerLink]="[ '/users']" routerLinkActive="active">Users</a>
    <a href="#" mat-button [routerLink]="[ '/cars']" routerLinkActive="active">Cars</a>
    <span>{{username}}</span>
    <span fxFlex="100" class="example-spacer"></span>
    <a *ngIf="!isUserLoggedIn"
       href="#"
       mat-button
       [routerLink]="[ '/login']">Login</a>
    <button *ngIf="isUserLoggedIn"
       href="#"
       mat-button (click)="logOut()">Logout</button>
    <a href="#" mat-button [routerLink]="[ '/register']" routerLinkActive="active">Register</a>
    <a href="#" mat-button [routerLink]="[ '/create']" routerLinkActive="active">CreateCar</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
